*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    font-family: "Lato Black";
}

.nav{
   
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 14vh;
    background-color: #c7c1c163;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    backdrop-filter: blur(10px);
      
}
.nav-center{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    backdrop-filter: blur(10px);

}
.nav button{
    padding: 10px 12px;
    border: 1px solid #ee9a13;
    border-radius: 10px;
    background-color: #ee9a13;
}

.nav-center>a{
    text-decoration: none;
    color: #000;
}
.nav-center i{
    font-size: 1vw;
    color: #000;
}

.nav img{
    width: 10%;
}

.page-a{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
     /* color:  #4c7766; */
     color: #FFEFBC;
}

.page-a>h1{
    font-size: 8vw;
    position: absolute;
    text-align: center;
}

.page-a>h1>span{
    margin-top: -40px;
}

.page-a>h4{
    font-size: 1.5vw;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-a-circle{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
     position: relative;
    z-index: 999;
    right: 0;
    bottom: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: anim 10s linear infinite;
}
.page-a-circle .text{
    width: 100%;
    height: 80%;
    position: absolute;
}

 .text span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 96px;
    color: #ee9a13;

}

@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

canvas{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.page-b{
    width: 100vw;
    height: 100vh;
    background-color: #FFEFBC;
    /* background-color: #F3B105; */
     background-color: #28864C;
    /* background-color:  #28864C; */
     color: #3E925E;
    position: relative;
}
.page-b h1{
    font-size: 4vw;
    position:  absolute;
 


}
.b-top-div{
    width: 100%;
    height: 40vh;
    /* background-color: #28864C; */
    display: flex;
    color: #FFFFFF;
    /* color: #FD8F45; */
    /* color: #4C7766; */
    /* color: #462617; */
}

.b-top-left{
    width: 40vw;
    padding: 60px 84px;
     
    display: flex;
   
    justify-content: center;
}
.b-top-left h1{
     font-size: 4rem;
     margin-left: 34px;

}


.b-top-right{
    width: 60vw;
    padding: 20px 24px;
    display: flex;
     align-items: center;
    justify-content: center;
}
 

.b-top-right p{
     font-size: 1.5rem;
}

.b-bottom-div{
    width: 100%;
    height: 60vh;
    padding: 30px 34px;
    display: flex;
     
    align-items: center;
}
.b-bottom-box{
    width: 20vw;
    height: 50vh;
    background-color: red;
    border-radius: 30px;
    flex-shrink: 0;
    margin-left: 8rem;
     
    position: relative;
}

.b-bottom-box:hover{
    cursor: pointer;
    border-radius: 120px;
    overflow: hidden;
    transition: 0.5s;
}


.b-bot-textbox{
    position: absolute;
    width: 15vw;
    height: 6.6vh;
    border-radius: 23px;
    background-color: #fff;
    z-index: 999;
    top: 8%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 

.b-bot-textbox h1{
    font-size:1.5rem;
    margin-left: 40px;
    font-weight: 200;
}

.b-bot-textbox i{
    font-size:1rem;
    color: #ee9a13;
    margin-left: 10px;
}

.b-bottom-box:nth-of-type(2) .b-bot-textbox {
    
    top: 80%;
    left: 30%;
}

.b-bottom-box:nth-of-type(3) .b-bot-textbox {
    
    width: 20vw;
    left: 0%;
}


.b-bottom-box:nth-of-type(4) .b-bot-textbox {
    
    width: 20vw;
    left: 0%;
    top: 80%;
}
.b-bottom-box:nth-of-type(5) .b-bot-textbox {
    
    
    left: -5%;
    
}

.b-bottom-box:nth-of-type(6) .b-bot-textbox {
    
    top: 80%;
    left: 30%;
    
}
.b-bottom-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}



.page-b>p{
    font-size: 4vh;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
     
}

.page-c{
    width: 100vw;
    height: 100vh;
  
    z-index: 999;
    position: relative;

}

.page-c-main{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: relative;
    display: flex;
      
}

.c-div-1{
    width: 100vw;
    height: 100vh;
     /* background-color: #ED8F45; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
       /* color: #a96130a5; */
       /* color: #FFEFBC; */
       color: #462617;
    
}
 
#c-1{
    position: relative;
    background: url('https://images.unsplash.com/photo-1508717272800-9fff97da7e8f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* Make sure the image covers the entire element */
  background-position: center center; /* Center the image within the element */
  background-repeat: no-repeat;

}

#c-2{
   
    position: relative;
    background: url('https://images.unsplash.com/photo-1550451757-43afd21bc356?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDUxfHx8ZW58MHx8fHx8');
    /* color: #A19270; */
    background-size: cover; /* Make sure the image covers the entire element */
    background-position: center center; /* Center the image within the element */
    background-repeat: no-repeat;
}
#c-3{
     
    position: relative;
    background: url('https://plus.unsplash.com/premium_photo-1697898006641-fad9278161ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDczfHx8ZW58MHx8fHx8');
    /* color: #836C4C; */
    background-size: cover; /* Make sure the image covers the entire element */
    background-position: center center; /* Center the image within the element */
    background-repeat: no-repeat;
}

#c-1 .c-image-box{
    height: 90vh;
    width: 40vw;
    clip-path: polygon(4% 0, 100% 0, 75% 100%, 26% 100%);
    border: 4px solid #50321fd8;
    background: url('https://images.unsplash.com/photo-1517196084897-498e0abd7c2d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmFja2dyb3VuZCUyMGZvciUyMHBlYXJzJTIwYnJhbmR8ZW58MHx8MHx8fDA%3D');

    overflow: hidden;
    border-radius: 20%;
}
#c-2 .c-image-box{
    height: 90vh;
    width: 40vw;
    clip-path: polygon(4% 0, 100% 0, 75% 100%, 26% 100%);
    border: 4px solid #50321fd8;
    border-left: 4px solid #50321fd8;
    background: url('https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncm91bmQlMjBmb3IlMjBkYXJrJTIwY3JlYW0lMjBicmFuZHxlbnwwfHwwfHx8MA%3D%3D');
    overflow: hidden;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#c-3 .c-image-box{
    height: 90vh;
    width: 40vw;
    clip-path: polygon(4% 0, 100% 0, 75% 100%, 26% 100%);
    border: 4px solid #50321fd8;
    background: url('https://plus.unsplash.com/premium_photo-1670044658714-686e136babc0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE3fHxiYWNrZ3JvdW5kJTIwZm9yJTIwZGFyayUyMGNyZWFtJTIwYnJhbmR8ZW58MHx8MHx8fDA%3D');
    background-color: red;
    overflow: hidden;
    border-radius: 20%;
    margin-left: 20vw;

    display: flex;
    align-items: center;
    justify-content: end center;
    animation-delay: 3;
}

#c-2 .c-image-box img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.c-image-box{
    width: 40vw;
    height: 40vh;
    position: absolute;
    z-index: 999;

}

.c-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-div-1 h1{
    width: 55vw;
    text-align: center;
    font-size: 10rem;
    position: absolute;
}

.page-d{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #D0686C 20%, #EDC155 50%, #8F4D68 80%);
    position: relative;
}

.page-d img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.d-main{
    width: 25vw;
    height: 90vh;
    background-color:  #EDC155;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border: 14px solid #000;
    border-radius: 40px;
}

.d-main img{
    top: -100vw;
}

.d-01{
    width: 20vw;
    height: 40vh;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 40%;

    border-radius: 20px;
    overflow: hidden;

}

.d-02{
    width: 20vw;
    height: 40vh;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 20px;
    overflow: hidden;

}

.d-03{
    width: 20vw;
    height: 40vh;
    background-color: yellow;
    position: absolute;
    top: 50%;
    right: 40%;
    border-radius: 20px;

    overflow: hidden;

}

.d-04{
    width: 20vw;
    height: 40vh;
    background-color: yellow;
    position: absolute;
    top: 50%;
    right: 40%;
    border-radius: 20px;

    overflow: hidden;

}

.page-e {
    width: 100vw;
    height: 100vh;
    position: relative; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28864C;
}

.page-e h1{
    font-size: 11rem;
    font-family: "Lato Black";
    text-align: center;
    z-index: 999;
    position: fixed;
    color: #3CAD68;
    opacity: 60%;
}



.e-overlay {
    width: 100vw;
    min-height: 150vh;
      
    position: absolute;
    top: 0;
    left: 0;
 
}
 

.e-frist{
    width: 100%;
    height: 70vh;
    display: flex;
   
    justify-content: space-around;
    position: relative;  
    margin-bottom: 20vh;
    align-items: center; 
     
}

 .e-box1{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 55vh;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: column;
    z-index: 9999;
    
}

.e-frist .e-box1 h2{
    font-size: 1rem;

}

.h2-main{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.port-img{
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 50%;
}
.port-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#hed-line{
    font-size: 1.5rem;

}


 

.e-frist .e-box2{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 8vh;
    z-index: 999;
     
}

.e-frist .e-box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.e-second{
    width: 100%;
    height: 70;
    display: flex;
    justify-content: space-around;
    position: relative;   
    margin-top: 40vh;
    /* background-color: #ee9a13; */
}

.e-second .e-box1{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 15vh;
    margin-left: 10vw;
}

.e-box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}


.e-second .e-box2{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 8vh;
    z-index: 9999;
}

.e-box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}



.e-third{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    position: relative;  
    margin-bottom: 20vh;
    align-items: center; 
     
}

.e-third .e-box1{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 35vh;
}

.e-third .e-box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.e-third .e-box2{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 8vh;
    z-index: 9999;
}


.e-fourth{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    position: relative;  
    margin-bottom: 20vh;
    align-items: center; 
     
}

.e-fourth .e-box1{
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 35vh;
}


.e-five{
    width: 100%;
    height: 50vh;
    background-color: #EDC155;
    margin-top: 65vh;
    z-index: 99999;
    position: relative;
}

.page-f{
    width: 100vw;
    height: 100vh;
    /* background-color: #FFEFBC; */
    background-color: #EDC155;
    position: relative;
    display: flex;
    flex-direction: column;
}

.f-top{
    width: 100%;
    height: 20vh;
}

.f-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-center{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    
}

.img-box-f{
    width: 25vw;
    height: 30vw;
    border-radius: 30px;
     
 
}

.img-box-f video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.f-contact{
    width: 65vw;
    height: 20vw;
    /* background-color: red; */
    border-radius: 50px;
     
}

.fc-top{
    width: 40vw;

}

.fc-top h1{
    font-size: 3.4rem;
    font-weight: 600;
    font-family: "Workhorse", cursive;
    color: #4B1E1E;
    text-align: center;
}

.fc-top h1 span {
    
        font-family: "Workhorse", cursive;
    /* font-family: "Workhorse Script text Display" cursive; */
  }

.fc-bottom{
    margin-left: 10vw;
    font-family: "Workhorse", cursive;
    width: 70%;
    height: 15vh;
    /* background-color: #3CAD68; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fc-bottom a {
    text-decoration: none;
    color: inherit; /* आइकनों का रंग */
    font-size: 2rem; /* आइकन का साइज */
    transition: color 0.3s ease; /* माउस ओवर पर स्मूथ ट्रांजिशन */
}

.fc-bottom  a:hover {
    color: #ff4500; /* माउस ओवर पर रंग बदलें */
}



.f-bottom{
    width: 100%;
    height: 40vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid #000;
    overflow: hidden;
   
}

.fb-boxs{
    width: 100vw;
    height: 75%;
    /* background-color: #3E925E; */
    position: relative;
    display: flex;
    align-items: center;
    animation: scr 20s linear infinite;
}

.fb-box{
    width: 15vw;
    height: 80%;
    margin-left: 20px;
    flex-shrink: 0;

}

.fb-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

@keyframes scr {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }